<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>全部</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天河区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>天河其他</string>
			<string>天河北</string>
			<string>石牌/龙口</string>
			<string>珠江新城</string>
			<string>天河公园</string>
			<string>天河城/体育中心</string>
			<string>车陂/东圃</string>
			<string>燕岭/五山</string>
			<string>龙洞/岑村</string>
			<string>沙河/天平架</string>
			<string>小新塘</string>
			<string>天河客运站</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>海珠区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>海珠其他</string>
			<string>江南大道</string>
			<string>新港西路</string>
			<string>滨江路</string>
			<string>工业大道</string>
			<string>客村/赤岗</string>
			<string>东晓南</string>
			<string>江南西</string>
			<string>琶洲</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>越秀区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>沿江路/二沙岛</string>
			<string>越秀公园</string>
			<string>中山六路</string>
			<string>火车站/人民北路</string>
			<string>北京路</string>
			<string>越秀其他</string>
			<string>环市东</string>
			<string>麓湖公园</string>
			<string>五羊新城</string>
			<string>中山二三路/东山口</string>
			<string>海珠广场</string>
			<string>沿江路沿线/二沙岛</string>
			<string>东风东/杨箕</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>白云区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>白云其他</string>
			<string>广园新村</string>
			<string>机场路</string>
			<string>三元里</string>
			<string>同和/京溪</string>
			<string>白云大道</string>
			<string>同德围</string>
			<string>罗冲围/金沙洲</string>
			<string>新市</string>
			<string>嘉裕太阳城</string>
			<string>五号停机坪</string>
			<string>黄石</string>
			<string>万达广场</string>
			<string>永泰</string>
			<string>嘉禾/人和</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>荔湾区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>荔湾其他</string>
			<string>上下九</string>
			<string>中山七八路</string>
			<string>沙面</string>
			<string>芳村</string>
			<string>西村/西场</string>
			<string>康王路</string>
			<string>西城都荟</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>番禺区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>市桥</string>
			<string>番禺其他</string>
			<string>大学城</string>
			<string>大石</string>
			<string>石碁</string>
			<string>钟村</string>
			<string>南村</string>
			<string>洛浦</string>
			<string>番禺广场</string>
			<string>沙湾镇</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>黄埔区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>鱼珠</string>
			<string>大沙地</string>
			<string>文冲</string>
			<string>夏园</string>
			<string>南岗</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>花都区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>花东</string>
			<string>花山</string>
			<string>狮岭</string>
			<string>新华</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>从化区</string>
	</dict>
	<dict>
		<key>name</key>
		<string>增城区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>荔城</string>
			<string>新塘</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>萝岗区</string>
		<key>subregions</key>
		<array>
			<string>全部</string>
			<string>开发区西区</string>
			<string>开发区东区</string>
			<string>科学城</string>
			<string>中心城</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>南沙区</string>
	</dict>
</array>
</plist>
